@charset "utf-8";
@font-face {
	font-family: FZCHYJW;
	src: url('../font/FZCHYJW.ttf');
}
.content{width: 1200px;margin: 50px auto;}
.content_title{text-align: center;font-size: 18px;color: #000;}
.content_text{padding-top: 20px;text-align: center;}
/*头部*/

.top {
	width: 1200px;
	margin: 0 auto;
	padding: 10px 0 0 0;
	overflow: hidden;
}

.logo {
	float: left;
}

.contact {
	float: right;
	overflow: hidden;
}

.contact>div {
	float: left;
}

.service {
	line-height: 105px;
	font-size: 16px;
	padding-right: 8px;
}

.Telephone {
	color: #14a192;
	font-size: 26px;
	vertical-align: middle;
	font-family: FZCHYJW;
	padding-top: 24px;
	padding-right: 10px;
}


/*导航*/

.hide {
	display: none;
}

.nav {
	width: 100%;
	background: #e60012;
	height: 40px;
	line-height: 40px;
}

.nav>ul {
	width: 48%;
	margin: 0 auto;
	/*overflow: hidden;*/
	height: 100%;
}

.nav>ul>li {
	float: left;
	padding: 0 40px;
	background: url(../img/img10.png)no-repeat right 9px;
	text-align: center;
	height: 100%;
}

.nav>ul>li:nth-child(2) {
	position: relative;
}

.nav>ul>li:last-child {
	background: none;
}

.nav>ul>li>a {
	font-size: 18px;
	color: #fff;
}

.nav_ul {
	width: 100%;
	text-align: center;
	position: absolute;
	top: 40px;
	left: 0;
	background: #e60012;
	z-index: 10;
	display: none;
}

.nav_ul>li>a {
	font-size: 16px;
	color: #fff;
	display: inline-block;
	width: 100%;
}

.nav_ul>li:hover a {
	background: #fff;
	color: #e9424b;
}


/*轮播*/

.swiper-container {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	/*text-align: center;*/
	font-size: 18px;
	background: #fff;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.swiper-pagination-bullet {
	width: 45px !important;
	height: 6px !important;
	background: #9da19d !important;
	border-radius: 0 !important;
}

.swiper-pagination-bullet-active {
	width: 45px !important;
	height: 6px !important;
	background: #fff !important;
	border-radius: 0 !important;
}


/*场景布置*/

.scene {
	width: 1200px;
	margin: 46px auto;
	padding: 0 15px;
	overflow: hidden;
}

.scene>div {
	float: left;
}

.scene_classification {
	margin-right: 63px;
	width: 111px;
}

.scene_img {
	width: 55px;
	height: 56px;
	text-align: center;
	margin: 0 auto 22px auto;
}

.scene_img>img {
	width: 100%;
	height: 100%;
}

.Plan {
	font-size: 18px;
	color: #000;
	margin-bottom: 25px;
	text-align: center;
}

.scene_classification>ul {
	width: 111px;
}

.scene_classification>ul>li {
	width: 100%;
	border: 1px solid #999999;
	border-radius: 20px;
	text-align: center;
	margin-bottom: 15px;
	font-size: 16px;
	color: #333;
	height: 35px;
	line-height: 35px;
}

.scene_classification>ul>li:hover {
	background: #e60012;
	color: #fff;
	border: 0;
}

.scene>div:last-child {
	margin-right: 0;
}


/*活动策划案例*/

.case {
	width: 1200px;
	margin: 0 auto;
}

.case_top {
	text-align: center;
}

.case_top>span:first-child {
	font-size: 30px;
	color: #000;
}

.case_top>span:last-child {
	font-size: 26px;
	color: #999999;
	text-transform: Uppercase;
}


/*.case_classification{width: 100%;overflow: hidden;margin-top: 33px;}
.case_classification>div{float: left;width: 289px;height: 228px;margin-right: 14px;margin-bottom: 14px;}
.case_classification>div:nth-child(4n){margin-right: 0;}
.Meeting{position: relative;}
.Meeting>div:first-child{position: absolute;top: 0;left: 0;width: 100%;height: 100%;}
/*.Meeting>div:first-child>img{width: 100%;height: 1001%;}*/


/*.Meeting>div:nth-child(2){background: #000;opacity: 0.5;width: 100%;height: 38px;position: absolute;bottom: 0;left: 0;}*/


/*.Meeting>div:last-child{position: absolute;bottom: 0;left: 0;text-align: center;color: #fff;width: 100%;line-height: 38px;font-size: 14px;}*/
.content-five {
	width: 1200px;
	margin: 20px auto;
	overflow: hidden;
}
.contentbox-five{overflow: hidden;}
.con-five {
	width: 290px;
	height: 230px;
	float: left;
	margin-right: 13px;
	margin-bottom: 13px;
	position: relative;
	overflow: hidden;
	cursor: pointer;
}
.conimg {
	width: 100%;
	height: 100%;
}
.txt-five {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 38px;
	line-height: 38px;
	text-align: center;
	color: #fff;
	background: rgba(0, 0, 0, .6);
}
.txt-five h3 {
	font-size: 14px;
}
.contentbox-five>li:nth-child(4n){margin-right: 0;}
/*我们不是大牌  但我们创造大牌*/
.hide{display: none;}
.create{width: 100%;}
.create_top{text-align: center;background: url(../img/img24.png)no-repeat center center;}
.create_top>div{width: 348px;margin: 0 auto;background: #e60012;padding: 10px 0;border-radius: 50px;text-align: center;color: #fff;font-size: 20px;}
.advantage{width: 100%;background: url(../img/img25.png)no-repeat center center;margin-top: 25px;}
.advantage_title{text-align: center;color: #fff;padding: 33px 0 42px 0;}
.advantage_title>span:first-child{font-size: 30px;}
.advantage_title>span:last-child{font-size: 26px;padding-left: 20px;text-transform: Uppercase;}
.Technological{padding: 0 165px;width: 1200px;margin: 0 auto;overflow: hidden;}
.Technological>div{float: left;width: 21%;margin-right:152px;cursor: pointer;}
.Technological>div:nth-child(3n){margin-right: 0;}
.Technological_div>div:first-child{width: 180px;height: 180px;}
.Technological_div>div:first-child>img{width: 100%;height: 100%;}
.Technological_div>div:last-child{text-align: center;color:#fff;font-size: 26px;padding: 36px 0 30px 0;}
.top_padding{padding-top: 20px;}
/*关于我们*/
.aboutUs_content{width: 1200px;margin: 25px auto 0 auto;overflow: hidden;}
.aboutUs_content>div{float: left;}
.aboutUsContent_left{width: 33%;margin-right: 48px;}
.aboutUsContent_left>a{width: 100%;overflow: hidden;display: inline-block;margin-bottom: 32px;}
.aboutUsContent_left>a>div{float: left;}
.aboutUsContent_left>a>div:first-child{width: 134px;height: 88px;margin-right: 18px;}
.aboutUsContent_left>a>div:first-child>img{width: 100%;height: 100%;}
.festival_right{float: left;width: 240px;}
.festival_right>div:first-child{color: #000;font-size: 14px;padding-top: 5px;}
.festival_right>div:nth-child(2){color: #666666;font-size: 12px;padding-top: 10px;line-height: 1.5;}
.aboutUsContent_center{width: 37.5%;color: #666666;font-size: 14px;line-height: 1.8;margin-right: 29px;}
.aboutUsContent_center>p{text-indent: 20px;}
.aboutUsContent_right{width: 277px;height: 329px;}
.aboutUsContent_right>img{width: 100%;height: 100%;}
/*活动策划*/
.information{width: 1200px;margin: 36px auto;overflow: hidden;padding: 0 165px;}
.information>div{float: left;width: 12%;border: 1px solid #e60012;padding: 10px 0;border-radius: 10px;margin-right: 48px;text-align: center;font-size: 16px;}
.information>div:nth-child(6n){margin-right: 0;}
.activity_bot{overflow: hidden;width: 1200px;margin: 0 auto;}
.activity_bot>div{float: left;}
.activityBot_lft{width: 35%;margin-right: 25px;}
.swiper-slide1{position: relative !important;height: 314px;}
.swiper-slide1>img{width: 100%;height: 100%;}
.slide_bot{width: 100%;background: #e60012;position: absolute;bottom: 0;left: 0;padding: 20px 0;color: #fff;font-size: 14px;padding-left: 20px;}
.swiper-pagination1{position: relative !important;bottom: 34px !important;left: 340px !important;width: 75px !important;}
.swiper-pagination1>span{width: 12px !important;height: 12px !important;border-radius: 50% !important;}
.swiper-pagination1>span.swiper-pagination-bullet-active{background: #fff !important;}
.activityBot_center{width: 35%;border-top:1px solid #cdcbcb;border-bottom:1px solid #cdcbcb;padding: 28px 0;}
.activityBot_center>a{display: block;font-size: 14px;color: #666666;padding-bottom: 34px;}
.activityBot_center>a:last-child{padding-bottom: 0;}
.activityBot_right{width: 26%;margin-left: 20px;}
.Celebrate_top{width: 100%;padding-bottom: 15px;}
.Celebrate_top>img{width: 100%;}
.Celebrate_bot{width: 100%;border-bottom: 1px solid #cdcbcb;border-top:1px solid #cdcbcb;padding: 12px 0;}
.Celebrate_bot>a{display: block;font-size: 12px;padding-bottom: 21.5px;color: #666666;}
.Celebrate_bot>a:last-child{padding-bottom: 0;}
.Celebrate_bot>a>span{float:right;}
/*联系我们*/
.Contact{width: 1200px;margin: 20px auto;overflow: hidden;}
.Contact>div{float: left;}
.Contact-left{width: 50%;position: relative;border-right: 1px solid #cbcbcb;padding-right: 36px;}
#allmap{width: 100%;height: 212px;}
.adree{position: absolute;width: 220px;background: #fff;top: 42px;left: 200px;text-align: center;padding: 10px 0;border-radius: 10px;font-family: FZCHYJW;color: #ee4f5b;
font-size: 14px;}
.anchorBL{display: none;}
.fillIn{width: 100%;}
.fillIn_title{width: 100%;text-align: center;font-size: 22px; color: #000;border-bottom: 2px solid #e60012;padding: 22px 0 8px 0;}
.fillIn_input{width: 100%;overflow: hidden;margin-top: 10px;}
.fillIn_input>input{float: left;border: 0;width: 49%;background: #f2f2f2;margin-right: 8px;margin-bottom: 8px;height: 40px;padding-left: 12px;color: #999999;}
.fillIn_input>input:nth-child(2n){margin-right: 0;}
.fillIn_input>textarea{width: 100%;height: 75px;background: #f2f2f2;border: 0;padding-left: 12px;color: #999999;font-size: 16px;}
.fillIn_input>input:last-child{width: 130px;height: 43px;line-height: 43px;background: #e60012;margin: 15px auto;padding-left: 0;text-align: center;display: inline-block;
color: #fff;font-size: 16px;}
.Contact-right{width: 50%;}
.ContactR_title{text-align: center;padding-bottom: 22px;color: #e60012;font-size: 36px;}
.ContactR_title>span{color: #000;}
.Contact-right>div:nth-child(2){text-align: center;font-size: 24px;}
.ContactR_bot{padding-top: 62px;overflow: hidden;padding-left:34px;}
.ContactR_bot>div{float: left;}
.ContactRbot_left_top{padding-bottom: 50px;}
.ContactRbot_left_top>div:first-child>img{display: inline-block;width: 36px;height: 28px;}
.ContactRbot_left_top>div:first-child>span{font-size: 16px;color: #000;padding-left: 10px;}
.ContactRbot_left_top>div:nth-child(2),.ContactRbot_left_top>div:nth-child(3){color: #000;font-size: 16px;padding-top: 10px;}
.ContactRbot_left{margin-right: 13px;}
.ContactR_bot>div:nth-child(2){margin-right: 10px !important;}
.img1{width: 28px !important;height: 34px !important;}
.img2{width: 24px !important;height: 34px !important;}
.img3{width: 26px !important;height: 36px !important;}
.WeChat>div{width: 167px;}
.WeChat_top{width: 100%;}
.WeChat_top>img{width: 100%;}
.WeChat>div:last-child{text-align: center;}
/*底部*/
.footer{width: 100%;background: url(../img/img43.png)no-repeat center center;height:140px;}
.footer>div:first-child{text-align: center;padding: 35px 0 10px 0;color: #fff;font-size: 12px;}
.footer>div:nth-child(2){text-align: center;color: #fff;font-size: 12px;}
.footer>div:nth-child(3){text-align: center;color: #fff;font-size: 12px;padding-top: 10px;}
.footer>div:nth-child(3)>span{color: #000;}
/*文艺演出*/
.banner{width: 100%;height: 460px;}
.banner>img{width: 100%;height: 100%;}
.five{width: 390px !important;height: 283px !important;}
/*.five>img{width: 100% !important;height: 100% !important;}*/
.ul_five>li:nth-child(3n){margin-right: 0 !important;}
.ul_five>li:nth-child(4){margin-right: 14px !important;}
.map{width: 100%;height: 700px !important;}
.maps{position: relative;}
.addree{position: absolute;top: 282px;left: 834px;}
.NewsDetail {
	width: 1200px;
	margin: 20px auto;
	border-bottom: 1px solid #d4d4d4;
	padding-bottom: 54px;
}
.NewsDetail_title>div:first-child {
	padding: 25px 0 14px 0;
	font-size: 18px;
	text-align: center;
}

.NewsDetail_title>div:nth-child(2) {
	color: #999999;
	font-size: 12px;
	padding-bottom: 23px;
	text-align: center;
}

.NewsDetail_title>div:nth-child(3) {
	font-size: 14px;
	line-height: 1.8;
	text-indent: 30px;
}

.NewsDetail_title>div:nth-child(4) {
	text-align: center;
	clear: both;
	padding-top: 20px;
}

.NewsDetail_title>div:nth-child(5) {
	padding-top: 26px;
	font-size: 14px;
	text-indent: 30px;
	line-height: 1.8;
}
.lastOne {
	width: 1200px;
	margin: 0 auto;
	padding-bottom: 50px;
}

.lastOne>div>a {
	color: #999;
	font-size: 14px;
}