@charset "utf-8";
.hide {
	display: none;
}

.Whole {
	width: 670px;
	margin: 150px auto;
	overflow: hidden;
	background: #FAFAFA;
	position: relative;
}

.Whole_top {
	background: #C62F2F;
	overflow: hidden;
	height: 50px;
}

.Whole_top>div {
	float: left;
}

.WholeTop_left {
	width: 120px;
	margin-top: 10px;
}

.WholeTop_left>img {
	width: 100%;
	margin-left: 10px;
}

.WholeTop_input {
	width: 220px;
	height: 25px;
	margin-left: 53px;
	position: relative;
	margin-top: 13px;
}

.WholeTop_input>input {
	float: left;
	width: 220px;
	border: 0;
	height: 22px;
	border-radius: 20px;
	background: #A82828;
	padding-left: 10px;
	outline: none;
	color: #fff;
}

.WholeTop_input>input::-webkit-input-placeholder {
	color: #C77373;
	font-size: 10px;
}

.WholeTop_input>img {
	position: absolute;
	top: 3px;
	right: 10px;
}

.WholeTop_user {
	width: 73px;
	margin-left: 80px;
	margin-top: 12px;
}

.WholeTop_user>img {
	width: 26px;
	height: 26px;
	float: left;
	display: inline-block;
	border-radius: 50%;
}

.WholeTop_user>span {
	font-size: 12px;
	color: #EBBEA4;
	margin-left: 5px;
}

.WholeTop_close {
	width: 68px;
	margin-left: 56px;
	margin-top: 15px;
}

.WholeTop_close>div {
	margin-right: 7px;
	float: left;
}

.WholeTop_close>div:first-child {
	color: #E29595;
	margin-bottom: 10px;
}

.WholeTop_close>div:nth-child(2) {
	width: 13px;
	height: 10px;
	border: 1px solid #E29595;
	border-radius: 3px;
	margin-top: 3px;
}

.music {
	overflow: hidden;
	margin-top: 30px;
	height: 300px;
	overflow: auto;
}

.music_details {
	border-top: 1px solid #E1E1E2;
	border-bottom: 1px solid #E1E1E2;
	height: 30px;
}

.music_details>div {
	float: left;
	line-height: 30px;
	font-size: 13px;
	padding-left: 10px;
	color: #666666;
}

.music_details>div:first-child {
	border-left: 1px solid #E1E1E2;
	border-right: 1px solid #E1E1E2;
	width: 58px;
	margin-left: 58px;
	height: 100%;
}

.music_details>div:nth-child(2) {
	width: 265px;
	border-right: 1px solid #E1E1E2;
	height: 100%;
}

.music_details>div:nth-child(3) {
	width: 150px;
	border-right: 1px solid #E1E1E2;
	height: 100%;
}

.music_details>div:nth-child(4) {
	height: 100%;
	width: 72px;
}

.singer {
	overflow: hidden;
}

.singer>div {
	height: 25px;
	width: 100%;
	cursor: pointer;
}


/*.singer>div:hover{background: #E3E3E5;overflow: hidden;}*/

.singer>div>div {
	float: left;
	height: 28px;
	font-size: 13px;
	line-height: 25px;
}

.singer>div>div:first-child {
	color: #B2B2B2;
	margin-left: 69px;
	width: 58px;
}

.singer>div>div:nth-child(2) {
	margin-left: 12px;
	color: #333333;
	width: 265px;
}

.singer>div>div:nth-child(3) {
	color: #666;
	width: 150px;
	padding-left: 10px;
}

.singer>div>div:nth-child(3):hover {
	color: #333;
}

.singer>div>div:nth-child(4) {
	color: #666;
	width: 72px;
	padding-left: 10px;
}

.music-bot {
	background: #F6F6F8;
	border-top: 1px solid #E1E1E2;
	overflow: hidden;
	width: 100%;
}

.music-bot>div {
	float: left;
}

.musicBot-left {
	margin-left: 10px;
}

.musicBot-left>div {
	float: left;
	width: 38px;
	height: 38px;
}

.musicBot-left>div>img {
	width: 100%;
	height: 100%;
}
.music_img{width: 38px;height: 38px;}
.music_img>img{width: 100%;height: 100%;}
.musicBot-left>div:nth-child(2) {
	margin-top: 3px;
}

.musicBot-left>div:nth-child(3) {
	margin-top: 3px;
}

.musicBot-center {
	overflow: hidden;
	margin-left: 10px;
	margin-top: 10px;
}

.musicBot-center>div {
	float: left;
	/*margin-right: 10px;*/
	font-size: 12px;
	color: #33336A;
	/*margin-top: 5px;*/
}
.musicBot-right>div:nth-child(3){
	margin-left: 5px;
	line-height: 25px;
}
.musicBot-center>div>input {
	width: 280px;
	-webkit-appearance: none;
	border-radius: 10px;
	height: 4px;
	background-color: #C2C2C4;
	outline: none;
	/*background: none;*/
	background: -webkit-linear-gradient(top, rgb(232, 60, 60), rgb(232, 60, 60)) 0% 0% / 40% 100% no-repeat rgb(221, 221, 221);
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
}

.musicBot-center>div>input::-webkit-slider-thumb {
	-webkit-appearance: none;
	/*清除系统默认样式*/
	height: 15px;
	/*拖动块高度*/
	width: 15px;
	/*拖动块宽度*/
	background: #fff;
	/*拖动块背景*/
	border-radius: 50%;
	/*外观设置为圆形*/
	border: solid 1px #ddd;
	/*设置边框*/
}

.musicBot-right {
	margin-left: 30px;
}

.musicBot-right>div {
	float: left;
}
.musicBot-right{margin-left: 10px;margin-top: 6px;}
.musicBot-right>div{float: left;}
.musicBot-right>div>input{width: 100px;
	-webkit-appearance: none;
	border-radius: 10px;
	height: 4px;
	background-color: #C2C2C4;
	outline: none;
	/*background: none;*/
	background: -webkit-linear-gradient(top, rgb(232, 60, 60), rgb(232, 60, 60)) 0% 0% / 40% 100% no-repeat rgb(221, 221, 221);
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;}
.musicBot-right>div>img{margin-top: 7px;}
.musicBot-right>div>input::-webkit-slider-thumb {
	-webkit-appearance: none;
	/*清除系统默认样式*/
	height: 15px;
	/*拖动块高度*/
	width: 15px;
	/*拖动块宽度*/
	background: #fff;
	/*拖动块背景*/
	border-radius: 50%;
	/*外观设置为圆形*/
	border: solid 1px #ddd;
	/*设置边框*/
}